[tradovate]
username    = deine@email.com
password    = dein_passwort
app_id      = Sample App
app_version = 1.0

[rithmic]
user        = YOUR_RITHMIC_USERNAME
password    = YOUR_RITHMIC_PASSWORD
system_name = Rithmic Test
app_name    = NQTradingAssistant
app_version = 1.0.0
url         = wss://rituz00100.rithmic.com:443

[gemini]
api_key     = YOUR_GEMINI_API_KEY

[anthropic]
api_key     = YOUR_ANTHROPIC_API_KEY
